.search-input {
    width: 100%;
    background: #A2A3A4;
    padding: 32px 25px;
    position: sticky;
    top: 0;

    &-container {
        display: flex;
        flex-direction: row;
        justify-content: center;

        &>button {
            background-color: #00A3FF;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 8px;
        }

        &>input {
            width: 100%;
            height: 40px;
            padding: 8px 20px;
            border: none;
            outline: none !important;
            font-family: Roboto;
            font-weight: 400;
            font-size: 14px;
        }
    }
}